@{
    ViewBag.Title = "YouTube";
    //Layout = "~/Views/Shared/_Layout2.cshtml";
}
<div class="vd_content-wrapper">
    <div class="vd_container">
        <div class="vd_content clearfix">
            <div class="vd_head-section clearfix">
                <div class="vd_panel-header">
                    
                        <h2>YouTube</h2>

                        <object width="640" height="480">
                            <param name="movie" value="https://www.youtube.com/embed/live_stream?channel=UCuBQGeSiAZQzmqs43Qd82kw" />
                            <param name="allowfullscreen" value="allowfullscreen" />
                            <param name="webkitallowfullscreen" value="true" />
                            <param name="mozallowfullscreen" value="true" />
                            <param name="allowscriptaccess" value="always" />
                            <param name="wmode" value="opaque" />
                            <embed src="http://www.youtube.com/v/channel=UCuBQGeSiAZQzmqs43Qd82kw"
                                   type="application/x-shockwave-flash" width="427"
                                   height="258" allowscriptaccess="always" allowfullscreen="true"
                                   webkitallowfullscreen="true" mozallowfullscreen="true"
                                   wmode="opaque"></embed>
                        </object>
                </div>
            </div>
        </div>
    </div>
</div>